/* Global Styling
======================================*/

body{
	color: red;
	background: #ffffff;
}

/* Header
======================================*/

/* Navigation
======================================*/
.navbar{
	background-color: orange;
	
}
.navbar-brand{
	color: white;
}
.nav > li > a{
	color: white;
}


/* Side Bar
======================================*/

.sidebar{
	border: 2px solid black;
	width: 10%;
	height: 100%;
	padding: 0;
	margin-top: 0px;
	background-color: orange;
	align-self: left;
}


/* Home Page
======================================*/

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

/* Footer
======================================*/
footer{
	text-align: center;
}