/* Global Styling
======================================*/

body{
	color: red;
	background: #ffffff;
}

/* Header
======================================*/

/* Navigation
======================================*/
.navbar{
	background-color: orange;
	
}
.navbar-brand{
	color: white;
}
.nav > li > a{
	color: white;
}


/* Side Bar
======================================*/

.sidebar{
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


/* Home Page
======================================*/

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

/* Footer
======================================*/
footer{
	text-align: center;
}