/* Global Styling
======================================*/

body{
	color: red;
	background: #ffffff;
}

/* Header
======================================*/

/* Navigation
======================================*/
.navbar{
	background-color: orange;
	
}
.navbar-brand{
	color: white;
}
.nav > li > a{
	color: white;
}

.banner{
	padding:0;
}

/* Footer
======================================*/
